SERVER_PORT="8000"
LOG_LEVEL="debug"

DB_DRIVER="postgres"
DB_CONNECTION="postgres://postgres:postgres@localhost:5432/dev_finance?sslmode=disable"

ACCESS_TOKEN_KEY=SATUDUA345678
ACCESS_TOKEN_DURATION=1h
REFRESH_TOKEN_KEY=DELAPAN7910
REFRESH_TOKEN_DURATION=6h